#ifndef CONFIG_H
#define CONFIG_H

// Define the encryption key
// Replace with key required for project
const byte KEY[] = { 0x01, 0x01, 0x01, 0x01, 0x01, 0x01, 0x01, 0x01, 0x01, 0x01, 0x01, 0x01, 0x01, 0x01, 0x01, 0x01 };

#endif // CONFIG_H